html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
}

.kanji_container {
  height: 100%;
  width: 100%;
}

.kanji-cell {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.kanji-cell_empty {
  cursor: default;
}

.kanji-cell_selected {
  outline: 1px solid #333;
}

.jlpt-1 { background-color: #c3b4d266 }
.jlpt-1.kanji-cell_selected { background-color: #c3b4d2 }

.jlpt-2 { background-color: #ff5c5c66 }
.jlpt-2.kanji-cell_selected { background-color: #ff5c5c }

.jlpt-3 { background-color: #ffc96f66 }
.jlpt-3.kanji-cell_selected { background-color: #ffc96f }

.jlpt-4 { background-color: #69a2ff66 }
.jlpt-4.kanji-cell_selected { background-color: #69a2ff }

.jlpt-5 { background-color: #61ff7666 }
.jlpt-5.kanji-cell_selected { background-color: #61ff76 }